header {
  display: flex;

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;

    .navItem {
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #aaa;
      }

      &:visited {
        color: #5c91c5;
      }

      &:hover {
        color: #044e97;
      }
    }
  }
}
